.motoliner
  background: linear-gradient(180deg, rgba(200,150,250,1) 0%, rgba(255,200,120,1) 100%)
  color: #333

  .post-container
    h1, h2, h3, h4, h5, h6
      color: #000

    .factbox
      border-color: #333

    a
      color: lighten(#B9EC9B, 20%)

      &:hover
        color: lighten(#B9EC9B, 40%)

.ijl
  background-color: #fcf4e4

  .post-container
    a
      color: darken($accent, 10%)

      &:hover
        color: lighten($accent, 10%)

.nogifsallowed
  background-color: #eaeaea

  .post-container
    a
      color: darken($accent, 10%)

      &:hover
        color: lighten($accent, 10%)